.header {
  width: 15%;
  height: 100%;
  background-color: #21201e;
  box-shadow: 5px 0px 50px #6100c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 37px;
  position: fixed;
  overflow-y: auto;
}

.header__inner {
  width: 100%;
  height: ;
  display: flex;
  flex-direction: column;
  color: white;
}

.header__inner a {
  color: white;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
}
.header__inner-logo-img {
  display: flex;
  align-items: center;
}
.header__inner-logo-img > img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.mobile_logo {
  display: none;
}

.mobile_logo > img {
  width: 70px;
}

/* Links */

.header__inner-links {
  margin-top: 15px;
}

.link {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}
.link:hover {
  transition: all 0.5s;
  box-shadow: 0px 25px 10px -20px rgba(255, 255, 255, 0.6);
}

.page {
  box-shadow: 0px 25px 10px -20px rgba(255, 255, 255, 0.6);
}

.link > span {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 20px;
}

/* Icon */

.link_icon {
  width: 25px;
}

/* Logout */
.link_logout {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.link_logout:hover {
  transition: all 0.5s;
  box-shadow: 0px 25px 10px -20px rgba(255, 0, 0, 0.6);
}

.link_logout > span {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 20px;
}

/* Adaptation */

@media (max-width: 1360px) {
  .header__inner-logo-img {
    display: none;
  }
  .mobile_logo {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .link {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .link > span {
    display: none;
  }
  .link_icon {
    width: 30px;
  }
  .link_logout {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .link_logout > span {
    display: none;
  }
}

@media (max-width: 968px) {
  .header {
    width: 15%;
    position: fixed;
  }
  .header__inner-logo-img {
    display: none;
  }
  .mobile_logo {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .page {
    transition: all 0.5s;
    box-shadow: 0px 15px 10px -10px rgba(255, 255, 255, 0.6);
  }
  .link:hover {
    transition: all 0.5s;
    box-shadow: 0px 15px 10px -10px rgba(255, 255, 255, 0.6);
  }
  .link_logout:hover {
    transition: all 0.5s;
    box-shadow: 0px 15px 10px -10px rgba(255, 0, 0, 1);
  }
}

@media (max-width: 768px) {
  .header {
    box-shadow: 0px 0px 0px #6100c2;
  }
  .logo > a {
    display: none;
  }
  .mobile_logo > img {
    width: 50px;
  }
  .page {
    transition: all 0.5s;
    box-shadow: 0px 15px 10px -10px rgba(255, 255, 255, 0.6);
  }
  .link:hover {
    transition: all 0.5s;
    box-shadow: 0px 15px 10px -10px rgba(255, 255, 255, 0.6);
  }
  .link_icon {
    width: 20px;
  }

  .link_logout:hover {
    transition: all 0.5s;
    box-shadow: 0px 15px 10px -10px rgba(255, 0, 0, 1);
  }
}
