.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, rgba(68,49,122,1) 0%, rgba(10,4,40,1) 22%, rgba(0,0,0,1) 100%);
  }
  
  .login__container {
    display: flex;
    width: 1000px;
    height: 600px;
    box-shadow: 0px 10px 20px 10px rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    overflow: hidden;
  }

  .login__form-text{
    color: black;
  }
  
  .login__image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
  }
  
  .login__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .login__form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
  }
  
  .login__form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login__form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login__form button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: aqua;
    color: black;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login__form button:hover {
    transition: all .5s;
    background-color: blue;
    color: white;
  }

  .login_p {
    margin-top: 30px;
    color: black;
  }
  