*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body {
    /* background: linear-gradient(90deg, rgba(68,49,122,1) 0%, rgba(10,4,40,1) 22%, rgba(0,0,0,1) 100%); */
    background-color: #21201E;
    color: white;
}